before_install:
    - sudo apt-get install lib32gcc1 lib32stdc++6 npm
script:
    - wget http://beta.unity3d.com/download/6a86e542cf5c/unity-editor_amd64-5.6.1xf1Linux.deb
    - sudo dpkg -i unity-editor_amd64-5.6.1xf1Linux.deb
    - mkdir ~/build/output
    - /opt/Unity/Editor/Unity -batchmode -nographics -quit -projectPath ~/build/console-experiment-unity -buildLinux64Player ~/build/output/ceu.app
